.content,
.overlay {
  z-index: 100;
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: var(--shadows-2xl);
  background-color: #ffffff;
  width: 100%;
  max-width: calc(100vw / 2 + 48rem / 2);
  height: 100%;
}

.content > div {
  border-right: 1px solid var(--colors-border);
  padding: 2rem;
  max-width: 48rem;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.content > div::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(0deg, #ffffff80, #ffffff20);
}
