.root {
  list-style: none;
}

.root[data-fill="true"]:last-of-type {
  grid-column: 1 / 3;
}

.root > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colors-background);
  padding: 2rem 0;
}

.root > a {
  outline-offset: -2rem;
}

.root > a img {
  opacity: 0.5;
  filter: grayscale(1);
  transition:
    0.6s filter var(--ease),
    0.6s opacity var(--ease);
  height: 2.5rem;
}

.root:hover > a img {
  opacity: 1;
  filter: grayscale(0);
}
