.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.root > * {
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}

.root > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--colors-border);
  padding: 1.25rem 1rem;
  font-size: var(--fontSizes-sm);
}

.root > div:first-child h2 {
  font-weight: normal;
  font-size: var(--fontSizes-sm);
  font-family: var(--font-geist-mono);
}

.root > div:first-child a,
.root > div:first-child a > span,
.root > div:first-child a span,
.root > div:first-child a kbd {
  color: var(--colors-primary);
}

.root > div:first-child a,
.root > div:first-child a > span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.root > div:first-child a:active,
.root > div:first-child a:focus-visible,
.root > div:first-child a:hover {
  text-decoration: none;
}

.root > div:first-child a:active span:not(:only-child),
.root > div:first-child a:focus-visible span:not(:only-child),
.root > div:first-child a:hover span:not(:only-child) {
  text-decoration: underline;
}
