.header nav,
.header section,
.main,
.footer {
  max-width: 48rem;
  margin: 0 auto;
}

.header {
  position: relative;
  color: var(--colors-white);
  background-color: var(--colors-black);
}

.header nav,
.header section {
  border-right: 1px solid var(--colors-gray-10);
  border-left: 1px solid var(--colors-gray-10);
}

.header nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid var(--colors-gray-10);
  backdrop-filter: blur(12px);
}

.header nav > a {
  display: flex;
}

.header nav > a img {
  display: none;
  height: 1.5rem;
  filter: invert(1);
  user-select: none;
  pointer-events: none;
}

.header nav ul a {
  color: var(--colors-white);
  opacity: 0.5;
  transition: 0.3s opacity var(--ease);
}

.header nav ul a:hover {
  opacity: 0.75;
}

.header nav ul a:active,
.header nav ul a:focus-visible {
  opacity: 1;
}

.header nav span {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.header section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  aspect-ratio: 16 / 9;
}

.header section img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100% - 2rem);
  transform: translate(-50%, -50%);
  filter: invert(1);
  user-select: none;
  pointer-events: none;
}

.header section > img:first-child {
  width: 20rem;
  height: 20rem;
  max-height: calc(100% - 2rem);
  margin: 0 auto;
  opacity: 0.1;
}

.header section > a:last-child img {
  height: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main a:not([class]) {
  color: var(--colors-primary);
  transition: 0.3s color var(--ease);
}

.main a:not([class]):hover {
  color: var(--colors-primary-dark);
}

.main ul {
  list-style: none;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  border: 1px solid var(--colors-gray-5);
  border-top: none;
}

.section > * {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.section > *:first-child {
  padding-top: 2rem;
}

.section > *:last-child {
  padding-bottom: 2rem;
}

.section h1 {
  margin: 0 auto;
  padding: 5rem 2rem !important;
  font-weight: 600;
  font-size: var(--fontSizes-5xl);
  line-height: 100%;
  letter-spacing: 0.0125em;
  text-align: center;
}

.section h2 {
  font-weight: 600;
}

.section p {
  max-width: calc(20rem + 4rem);
  line-height: 140%;
  text-align: center;
}

.creators {
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.creator {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-top: 1px solid var(--colors-gray-5);
}

.creator ul li,
.footer ul li {
  display: inline-flex;
}

.creator a img,
.creator a svg,
.footer nav a img {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--colors-black);
  opacity: 0.25;
  transition: 0.3s opacity var(--ease);
  user-select: none;
  pointer-events: none;
}

.creator a:hover img,
.creator a:hover svg,
.footer nav a:hover img {
  opacity: 1;
}

.creator h3 {
  font-weight: 600;
  font-size: var(--fontSizes-base);
}

.creator p {
  color: var(--colors-gray-50);
}

.creator span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.creator span:last-of-type {
  margin-left: auto;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.feature {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.feature p {
  line-height: 100%;
}

.feature svg {
  width: 1.25rem;
  height: 1.25rem;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.price h3 {
  font-weight: 600;
  font-size: var(--fontSizes-2xl);
}

.price h4 {
  color: var(--colors-gray-50);
  font-weight: normal;
  font-size: var(--fontSizes-base);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 4rem auto;
}

.project {
  display: flex;
  flex-direction: column;
  height: 2.5rem;
  transition: 0.6s transform var(--ease);
}

.project:hover {
  transform: translateY(-50%);
}

.project > a img {
  height: 2.5rem;
  opacity: 0.5;
  filter: grayscale(1);
  transition: 0.6s filter var(--ease), 0.6s opacity var(--ease);
}

.project:hover > a img {
  opacity: 1;
  filter: grayscale(0);
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  padding-top: 0.5rem;
  opacity: 0;
  transition: 0.6s opacity var(--ease);
  user-select: none;
  pointer-events: none;
}

.project:hover .tools {
  opacity: 1;
  user-select: inherit;
  pointer-events: inherit;
}

.tools img {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  filter: grayscale(1);
  transition: 0.3s filter var(--ease), 0.3s opacity var(--ease);
}

.tools a:hover > img {
  opacity: 1;
  filter: grayscale(0);
}

.tools p {
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-xs);
}

.tools ul {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.notes {
  max-width: 36rem;
  margin-top: 4rem;
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-base);
  line-height: 120%;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-right: 1px solid var(--colors-gray-5);
  border-left: 1px solid var(--colors-gray-5);
}

.footer > * {
  width: 100%;
}

.footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--colors-gray-5);
}

.footer nav ul {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.external img {
  width: auto !important;
  height: 1.5rem;
  opacity: 0.5 !important;
}

.external a:hover img {
  opacity: 1 !important;
}

.footer blockquote {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--colors-foreground);
  background-color: var(--colors-background);
}

.footer blockquote > div {
  margin: 0 auto;
  color: var(--colors-foreground);
  text-align: center;
  background-color: var(--colors-background);
}

.footer blockquote[data-justify="true"] > div {
  text-align: justify;
}

.footer blockquote[data-justify="true"] > div footer {
  text-align: right;
}

.footer blockquote p {
  font-weight: 600;
  font-size: var(--fontSizes-2xl);
  line-height: 140%;
}

.footer blockquote footer {
  margin-top: 1rem;
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-lg);
}

.footer section {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
  color: var(--colors-gray-25);
  text-align: center;
}

.footer section img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(1000%);
  max-width: 48rem;
  height: calc(1000%);
  max-height: 48rem;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.footer section p {
  z-index: 1;
  color: var(--colors-foreground);
  font-weight: 600;
}

@media screen and (min-width: 36rem) {
  .header nav > a img {
    display: flex;
  }

  .header nav > span {
    flex: 1 1 0%;
  }

  .header nav > span:last-of-type {
    justify-content: flex-end;
  }
}
