.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  line-height: 1;
}

.root > p {
  font-size: var(--fontSizes-sm);
}
