.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	padding-top: 7rem;
}

.content h1,
.content h2 {
	font-family: var(--font-heading);
	font-weight: normal;
	line-height: 100%;
}

.content h1 {
	color: var(--colors-gray-50);
	font-size: var(--fontSizes-lg);
	letter-spacing: 0.125em;
	margin-top: 3em;
	text-transform: uppercase;
}

.content h1:first-child {
	margin-top: 1em;
}

.content h2 {
	color: var(--colors-gray-75);
	font-size: var(--fontSizes-2xl);
	margin-top: 1em;
}

.content h1 + h2 {
	margin-top: 0;
}

.content p {
	color: var(--colors-gray-50);
	font-family: var(--font-heading);
	font-size: var(--fontSizes-lg);
	line-height: 160%;
	margin-top: 0;
}

@media screen and (min-width: 24rem) {
	.root > div {
		padding: 1.5rem;
		padding-top: 7rem;
	}

	.content h1 {
		font-size: var(--fontSizes-xl);
	}

	.content h2 {
		font-size: var(--fontSizes-3xl);
	}

	.content p {
		font-size: var(--fontSizes-xl);
	}
}

@media screen and (min-width: 48rem) {
	.root > div {
		padding: 2rem;
		padding-top: 7rem;
	}

	.content h1 {
		font-size: var(--fontSizes-2xl);
	}

	.content h2 {
		font-size: var(--fontSizes-4xl);
	}

	.content p {
		font-size: var(--fontSizes-2xl);
	}
}
