body {
	background-color: var(--colors-background);
	color: var(--colors-foreground);
}

.desktop {
	display: none;
}

.mobile {
	display: flex;
}

@media screen and (min-width: 48rem) {
	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
	}
}
