body {
  background-color: var(--colors-background);
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}

@media screen and (min-width: 48rem) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}
