.root {
	padding: 1rem;
	padding-top: 8rem;
}

.content p {
	color: var(--colors-gray-75);
	font-size: var(--fontSizes-lg);
	line-height: 140%;
	font-family: var(--font-heading);
}

.content p:not(:first-child) {
	margin-top: 0.5em;
}

@media screen and (min-width: 24rem) {
	.root {
		padding: 1.5rem;
		padding-top: 8rem;
	}

	.content h2 {
		font-size: var(--fontSizes-3xl);
	}

	.content p {
		font-size: var(--fontSizes-xl);
	}
}

@media screen and (min-width: 48rem) {
	.root {
		padding: 2rem;
		padding-top: 8rem;
	}

	.content h2 {
		font-size: var(--fontSizes-4xl);
	}

	.content p {
		font-size: var(--fontSizes-2xl);
	}
}
