.root {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.root ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid var(--colors-gray-5);
}

.root ul a {
  color: var(--colors-black);
  opacity: 0.5;
  transition: 0.3s opacity var(--ease);
}

.root ul a:hover {
  opacity: 0.75;
}
