.root {
  display: block;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--colors-gray-5);
}

:global .dark :local .root {
  border-color: var(--colors-gray-10);
}

.ticker {
  color: var(--colors-gray-50);
  white-space: nowrap;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2rem;
  color: var(--colors-gray-50);
  white-space: nowrap;
}

@media screen and (min-width: 48rem) {
  .root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 4rem;
    overflow: hidden;
    border-bottom: none;
    border-left: 1px solid var(--colors-gray-5);
    transform: translateX(-4rem);
  }

  .ticker {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: rotate(270deg) translate(-43.5%, -340%);
  }

  .item {
    position: absolute;
    right: 0;
    bottom: 0;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}
