.content {
  background-color: var(--colors-background);
}

.content:first-of-type {
  background-color: rgba(0, 0, 0, 1);
}

.content > header,
.content > main {
  position: relative;
  margin: 0 auto;
  max-width: 48rem;
  overflow: visible;
}

.content > * {
  border-right: 1px solid var(--colors-gray-5);
  border-left: 1px solid var(--colors-gray-5);
}

.content.dark > * {
  border-right: 1px solid var(--colors-gray-10);
  border-left: 1px solid var(--colors-gray-10);
}

.video {
  --controls: none;
  --dialog: none;
  --loading-indicator: none;
  --media-object-fit: cover;
  --media-object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(2);
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  user-select: none;
}

.content {
  position: relative;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main section a:not([class]) {
  transition: 0.3s color var(--ease);
  color: var(--colors-primary);
}

.main section a:not([class]):hover {
  color: var(--colors-primary-dark);
}

.main ul {
  list-style: none;
}

.main .links {
  display: flex;
  gap: 1rem;
}

.footer ul li {
  display: inline-flex;
}

.footer nav a img {
  opacity: 0.25;
  transition: 0.3s opacity var(--ease);
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
  color: var(--colors-black);
  user-select: none;
}

.footer nav a:hover img {
  opacity: 1;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  max-width: 48rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feature p {
  line-height: 100%;
}

.feature svg {
  width: 1.25rem;
  height: 1.25rem;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.price h3 {
  font-weight: 600;
  font-size: var(--fontSizes-2xl);
}

.price h4 {
  color: var(--colors-gray-50);
  font-weight: normal;
  font-size: var(--fontSizes-base);
}

.apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px;
  box-sizing: border-box;
  margin: 0 -2rem 2rem;
  border-top: 1px solid var(--colors-background);
  border-bottom: 1px solid transparent;
  background-color: var(--colors-gray-5);
  width: calc(100% + 4rem) !important;
}

.app {
  list-style: none;
}

.app > a,
.app > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colors-background);
  aspect-ratio: 1 / 1;
}

.app > a img {
  opacity: 0.25;
  transition: 0.6s opacity var(--ease);
  height: 3rem;
}

.app > div::before,
.partner > div::before {
  transition: 0.6s opacity var(--ease);
  border-radius: var(--radii-full);
  background-color: var(--colors-gray-10);
  width: 0.5rem;
  height: 100%;
  height: 0.5rem;
  content: "";
}

.app:hover > a img {
  opacity: 1;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 1px;
  box-sizing: border-box;
  margin: 2.5rem -2rem 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: var(--colors-gray-5);
  width: calc(100% + 4rem) !important;
}

.partner {
  list-style: none;
}

.partner[data-fill="true"]:last-of-type {
  grid-column: 1 / 3;
}

.partner > a,
.partner > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colors-background);
  padding: 2rem 0;
}

.partner > div {
  height: 100%;
}

.partner > a img {
  opacity: 0.5;
  filter: grayscale(1);
  transition:
    0.6s filter var(--ease),
    0.6s opacity var(--ease);
  height: 2.5rem;
}

.partner:hover > a img {
  opacity: 1;
  filter: grayscale(0);
}

.notes {
  margin-top: 4rem;
  max-width: 36rem;
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-base);
  line-height: 120%;
  text-align: center;
}

.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 -2rem;
  width: 100%;
}

.footer > * {
  width: 100%;
}

.footer > *:not(:last-child) {
  border-bottom: 1px solid var(--colors-gray-5);
}

.footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--colors-gray-5);
  padding: 1rem 2rem;
}

.footer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.external img {
  opacity: 0.5 !important;
  width: auto !important;
  height: 1.5rem;
}

.external a:hover img {
  opacity: 1 !important;
}

.footer blockquote {
  margin: 0 auto;
  background-color: var(--colors-background);
  padding: 2rem;
  max-width: 48rem;
  color: var(--colors-foreground);
  text-align: center;
}

.footer blockquote > *:first-child {
  margin: 0 auto;
}

.footer blockquote > div > *:first-child {
  font-weight: 400 !important;
  font-size: var(--fontSizes-2xl);
  line-height: 140%;
  font-family: var(--fonts-serif);
}

.footer blockquote[data-justify="true"] > div > *:first-child {
  text-align: justify;
}

.footer blockquote[data-justify="true"] footer {
  text-align: right;
}

.footer blockquote footer {
  margin-top: 1rem;
  color: var(--colors-gray-50);
}

.footer > p {
  justify-content: center;
  align-items: center;
  padding: 1.25rem 2rem;
  color: var(--colors-gray-50);
  text-align: center;
}
