.root {
  display: block;
  flex-shrink: 0;
  margin-left: -1px;
  border-bottom: 1px solid var(--colors-border);
  border-left: 1px solid var(--colors-border);
  padding: 1rem calc(1rem - 1px) 1rem 1rem;
  color: var(--colors-gray-50);
}

.root p {
  transform: rotate(-90deg);
  width: 1.5rem;
}

.root > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.root > div > ul {
  display: flex;
  position: sticky;
  top: calc(1rem + 3.5rem + 1px);
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 1.5rem;
  list-style: none;
}

@media screen and (min-width: 60rem) {
  .root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(calc(-100% + 1px));
  }
}
