.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 7rem;
  padding: 2rem 0;
}

.content h2 {
  margin-top: 1em;
  color: var(--colors-gray-90);
  font-size: var(--fontSizes-2xl);
  line-height: 100%;
  font-family: var(--fonts-heading);
  text-align: center;
}

.content p {
  color: var(--colors-gray-60);
  font-size: var(--fontSizes-lg);
  line-height: 160%;
  font-family: var(--fonts-heading);
}

.content p:not(:first-child) {
  margin-top: 1em;
}

@media screen and (min-width: 24rem) {
  .root > div {
    padding: 1.5rem;
    padding-top: 7rem;
  }

  .content h2 {
    font-size: var(--fontSizes-3xl);
  }

  .content p {
    font-size: var(--fontSizes-xl);
  }
}

@media screen and (min-width: 48rem) {
  .root > div {
    padding: 2rem;
    padding-top: 7rem;
  }

  .content h2 {
    font-size: var(--fontSizes-4xl);
  }

  .content p {
    font-size: var(--fontSizes-2xl);
  }
}
