.root {
  aspect-ratio: 1 / 1;
  border: 2px solid currentColor;
  border-radius: var(--radii-full);
  height: 1.125rem;
  position: relative;
  transition: color 0.3s var(--ease);
  width: 1.125rem;
}

.root,
:global(.dark.blue) .root,
:global(.dark.green) .root,
:global(.dark.red) .root {
  color: var(--colors-gray-25);
}

:global(.blue) .root,
:global(.green) .root,
:global(.red) .root {
  color: var(--colors-gray-10);
}

.root::after {
  background-color: currentColor;
  border-radius: 0 var(--radii-full) var(--radii-full) 0;
  content: "";
  height: 100%;
  inset: 0;
  left: 50%;
  position: absolute;
  width: calc(50% + 1px);
}

.root:focus-visible,
.root:hover,
:global(.dark.blue) .root:focus-visible,
:global(.dark.blue) .root:hover,
:global(.dark.green) .root:focus-visible,
:global(.dark.green) .root:hover,
:global(.dark.red) .root:focus-visible,
:global(.dark.red) .root:hover {
  color: var(--colors-gray-50);
}

:global(.blue) .root:focus-visible,
:global(.blue) .root:hover,
:global(.green) .root:focus-visible,
:global(.green) .root:hover,
:global(.red) .root:focus-visible,
:global(.red) .root:hover {
  color: var(--colors-gray-25);
}

.root:active,
:global(.dark.blue) .root:active,
:global(.dark.green) .root:active,
:global(.dark.red) .root:active {
  color: var(--colors-gray-75) !important;
}

:global(.blue) .root:active,
:global(.green) .root:active,
:global(.red) .root:active {
  color: var(--colors-gray-50) !important;
}

.root[data-active="true"] {
  color: var(--colors-foreground) !important;
}
