.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: var(--fontSizes-base);
}

.root > div:first-child,
.root > div:last-child {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.root main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 60rem) {
  .root main {
    flex-direction: row;
  }
}

.root main nav ul {
  display: flex;
  position: sticky;
  top: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.root main nav ul li {
  width: fit-content;
}

.root main nav ul li a {
  flex-direction: row-reverse;
}
