.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 36rem) {
  .group {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .group {
    gap: 2rem;
  }
}

.input {
  border: 1px solid var(--colors-gray-10);
  background-color: transparent;
  padding: 0.5rem;
  width: 100%;
  color: var(--colors-foreground);
  font-size: var(--fontSizes-sm);
}

.input::placeholder {
  color: var(--colors-gray-50);
}

:global .contrast :local .root .input::placeholder {
  color: var(--colors-foreground);
}

:global .contrast :local .root .input,
:global .contrast :local .root .input:focus-visible,
:global .contrast :local .root .input:hover,
:global .contrast :local .root .input:active {
  border-color: var(--colors-foreground);
  color: var(--colors-foreground);
}

.input:active {
  border-color: var(--colors-gray-50);
}

.input:focus-visible {
  outline: none;
  border-color: var(--colors-gray-100) !important;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
}

.root:hover .input {
  border-color: var(--colors-gray-25);
}

.root label {
  transform: translateY(0.25em);
  opacity: 0;
  transition:
    opacity 0.3s var(--ease),
    transform 0.3s var(--ease);
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-xs);
}

:global .contrast :local .root label {
  color: var(--colors-foreground);
}

.root[data-value="true"] label {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 36rem) {
  .input {
    padding: 0.75rem;
    font-size: var(--fontSizes-base);
  }

  .root {
    gap: 0.25rem;
  }

  .root label {
    font-size: var(--fontSizes-sm);
  }
}

@media screen and (min-width: 48rem) {
  .input {
    padding: 1rem;
  }

  .root {
    gap: 0.5rem;
  }
}
