.root {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--colors-gray-50);
  font-size: var(--fontSizes-sm);
  line-height: 1;
}

a.root:active span,
a.root:focus-visible span,
a.root:hover span,
a.root[data-pressed="true"] span {
  text-decoration: underline;
}

.root:focus-visible,
.root:hover,
.root[data-pressed="true"] {
  color: var(--colors-gray-75);
}

.root:active {
  color: var(--colors-foreground);
}
