.root {
  display: flex;
  transition: background-color 0.3s var(--ease);
  background-color: var(--colors-primary);
  padding: 0.5rem 1rem;
  color: var(--colors-white);
}

a.root:hover {
  text-decoration: underline;
}

.root[data-variant="primary"] {
  background-color: var(--colors-gray-100);
  color: var(--colors-background);
}

.root[data-variant="primary"]:focus-visible,
.root[data-variant="primary"]:hover {
  background-color: var(--colors-gray-75);
}

.root[data-variant="primary"]:active {
  background-color: var(--colors-gray-50);
}

.root[data-variant="secondary"] {
  background-color: var(--colors-gray-0);
  font-weight: 300;
}

.root[data-variant="secondary"]:focus-visible,
.root[data-variant="secondary"]:hover {
  background-color: var(--colors-gray-10);
}

.root[data-variant="secondary"]:active {
  background-color: var(--colors-gray-25);
}
