.root {
  display: flex;
  padding: 0.25rem 1.25rem;
  color: var(--colors-white);
  background-color: var(--colors-primary);
  border-radius: var(--radii-full);
  transition: background-color 0.3s var(--ease);
}

.root[data-variant="primary"] {
  background-color: var(--colors-primary);
}

.root[data-variant="primary"]:hover {
  background-color: var(--colors-primary-dark);
}

.root[data-variant="secondary"] {
  background-color: var(--colors-gray-20);
}

.root[data-variant="secondary"]:hover {
  background-color: var(--colors-gray-10);
}
