.root,
.root > * {
	color: var(--colors-gray-50);
	font-size: var(--fontSizes-sm);
	width: 100%;
}

.root > *:not(:last-child) {
	border-bottom: 1px solid var(--colors-border);
}

.root > *:only-child {
	border-top: 1px solid var(--colors-border);
}

.root blockquote {
	background-color: var(--colors-background);
	border-top: 1px solid var(--colors-border);
	color: var(--colors-foreground);
	margin: 0 auto;
	max-width: 48rem;
	padding: 2rem 1rem;
	text-align: center;
}

@media screen and (min-width: 48rem) {
	.root blockquote {
		padding: 2rem;
	}

	.root blockquote[data-justify="true"] {
		padding: 2rem 4rem;
	}
}

.root blockquote > *:first-child {
	margin: 0 auto;
}

.root blockquote > div > *:first-child {
	font-family: var(--fonts-serif);
	font-size: var(--fontSizes-2xl);
	font-weight: 400 !important;
	line-height: 140%;
}

.root blockquote[data-justify="true"] > div > *:first-child {
	text-align: justify;
}

.root blockquote[data-justify="true"] footer {
	text-align: right;
}

.root blockquote footer {
	color: var(--colors-gray-50);
	font-size: var(--fontSizes-base);
	margin-top: 1rem;
}

:global .contrast :local .root blockquote footer {
	color: var(--colors-foreground);
}

.root > p:last-child {
	border-bottom: 1px solid var(--colors-border);
	color: var(--colors-gray-50);
	padding: 1rem;
}

.root nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0.75rem;
}

.root nav a {
	background-color: var(--colors-background);
}

.root nav a img {
	color: var(--colors-black);
	height: 1.25rem;
	opacity: 0.25;
	pointer-events: none;
	transition: 0.15s opacity var(--ease);
	user-select: none;
	width: 1.25rem;
}

:global .dark :local .root nav a img {
	filter: invert(1);
}

.root nav a[data-first="true"] img {
	opacity: 0.5;
}

.root nav a:hover img,
.root nav a[data-pressed="true"] img {
	opacity: 1;
}

.root nav ul {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
}

.root nav > div:first-of-type ul {
	gap: 0.25rem;
}

.root nav > div:last-of-type ul {
	gap: 0.5rem;
}

.root nav ul li {
	position: relative;

	.content {
		align-items: flex-start;
		background-color: var(--colors-background);
		border: 1px solid var(--colors-gray-10);
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: -0.5rem;
		transform: translateY(-100%);
		width: max-content;
	}
}

:global .contrast :local .root nav ul li .content,
:global .contrast.dark :local .root nav ul li .content {
	border-color: var(--colors-foreground);
}

:global .dark :local .root nav ul li .content {
	border-color: var(--colors-gray-25);
}

.root ul li a,
.root ul li a *:not(kbd),
.root ul li button {
	align-items: center;
	display: flex;
	gap: 0.25rem;
	line-height: 1;
}

.content a {
	display: flex;
	padding: 0.75rem;
	text-align: left;
	width: 100%;
}

.content a:focus-visible,
.content a:hover {
	background-color: var(--colors-gray-5);
}

.content a:focus-visible {
	z-index: 1;
}

.content a:active {
	background-color: var(--colors-gray-10);
}

:global .dark :local .content a:focus-visible,
:global .dark :local .content a:hover {
	border-color: var(--colors-gray-10);
}

:global .dark :local .content a:active {
	border-color: var(--colors-gray-25);
}

.content p {
	color: var(--colors-foreground);
	font-family: var(--font-geist-mono);
	font-size: var(--fontSizes-xs);
	letter-spacing: 0.0625em;
	padding: 0.75rem 0.75rem 0.125rem;
	text-transform: uppercase;
}

.trigger + div {
	display: none !important;
}

.trigger[data-pressed="true"] + div {
	display: flex !important;
}
