.crew {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew,
.crew ul,
.crew li {
  width: 100%;
}

.crew h2 {
  text-align: center;
}

.crew ul {
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5rem 0 0;
}

.crew ul li {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  border-top: 1px solid var(--colors-gray-5);
}

.crew ul li a img,
.crew ul li a svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--colors-black);
  opacity: 0.25;
  transition: 0.3s opacity var(--ease);
  user-select: none;
  pointer-events: none;
}

.crew ul li a:hover img,
.crew ul li a:hover svg {
  opacity: 1;
}

.crew ul li h3 {
  font-weight: 600;
  font-size: var(--fontSizes-base);
}

.crew ul li p {
  color: var(--colors-gray-50);
}

.crew ul li span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.crew ul li span:last-of-type {
  margin-left: auto;
}
