.root {
  color: var(--colors-gray-75);
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
  gap: 2rem;
}

.root table {
  border-collapse: collapse;
  margin: 1rem 0;
  max-width: 100vw;
  overflow-x: scroll;
  width: 100%;
}

.root table * {
  font-family: var(--font-geist-sans);
}

.root table tr td,
.root table tr th {
  border-bottom: 1px solid var(--colors-border);
  font-size: var(--fontSizes-sm);
  line-height: 1;
  padding: 0.5rem 1rem 0.5rem 0;
}

.root table tr th p {
  font-family: var(--font-geist-mono);
  font-size: var(--fontSizes-xs);
  letter-spacing: 0.0625em;
  padding-bottom: 0.25rem;
  padding-top: 0;
  text-align: left;
  text-transform: uppercase;
}

.root table tr td:last-child,
.root table tr th:last-child {
  padding-right: 0;
}

.root table tr td p,
.root table tr th p {
  line-height: 140%;
  margin: 0;
}

.root a {
  color: var(--colors-primary);
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
  color: var(--colors-foreground);
}

.root h1 {
  color: var(--colors-foreground);
  font-size: var(--fontSizes-3xl);
  font-weight: normal;
  line-height: 100%;
  padding-bottom: 0.25em;
  text-wrap: balance;
}

.root h1 + * {
  margin-top: 0;
}

.root * + h1:not(:first-of-type) {
  margin-top: 2em;
}

.root h2 {
  font-family: var(--font-heading);
  font-size: var(--fontSizes-xl);
  font-weight: normal;
  line-height: 120%;
  margin-top: 1em;
}

.root h3 {
  font-size: var(--fontSizes-lg);
  font-weight: normal;
}

.root h4,
.root h5,
.root h6 {
  font-family: var(--font-geist-mono);
  text-transform: uppercase;
}

.root h3,
.root h4 {
  line-height: 140%;
  margin-top: 1em;
}

.root h4 {
  font-size: var(--fontSizes-sm);
  letter-spacing: 0.0625em;
  margin-top: 2em;
}

.root h5,
.root h6 {
  letter-spacing: 0.125em;
  line-height: 180%;
  margin-top: 2em;
  text-transform: uppercase;
}

.root h5 {
  font-size: var(--fontSizes-xs);
}

.root h6 {
  font-size: var(--fontSizes-xs);
}

.root h2 + h3,
.root h2 + h4,
.root h3 + h3,
.root h3 + h4,
.root h4 + h3,
.root h4 + h5 {
  margin-top: 0.5em;
}

@media screen and (min-width: 24rem) {
  .root {
    font-size: var(--fontSizes-lg);
  }

  .root h1 {
    font-size: var(--fontSizes-4xl);
  }

  .root h1 + * {
    margin-top: 0;
  }

  .root h2 {
    font-size: var(--fontSizes-2xl);
  }

  .root h3 {
    font-size: var(--fontSizes-xl);
  }

  .root h4 {
    font-size: var(--fontSizes-base);
  }

  .root h5 {
    font-size: var(--fontSizes-sm);
  }
}

@media screen and (min-width: 48rem) {
  .root {
    font-size: var(--fontSizes-xl);
  }

  .root h1 {
    font-size: var(--fontSizes-5xl);
  }

  .root h2 {
    font-size: var(--fontSizes-3xl);
  }

  .root h3 {
    font-size: var(--fontSizes-2xl);
  }
}

.root p {
  color: var(--colors-gray-75);
  line-height: 180%;
  margin-top: 0.5em;
}

.root b,
.root strong {
  color: var(--colors-foreground);
}

.root ul {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding-left: 2em;
}

.root ul li {
  padding-left: 0.25em;
}

.root ul li::marker {
  content: "\2629";
}

.root ul p {
  margin-top: 0;
}

.root article {
  max-width: 65ch;
}

.root article > p:first-child {
  color: var(--colors-gray-50);
  font-family: var(--font-geist-mono);
  font-size: var(--fontSizes-xs);
  letter-spacing: 0.125em;
  line-height: 1;
  margin: 0 0 1em;
  text-transform: uppercase;
}

@media screen and (min-width: 24rem) {
  .root article > p:first-child {
    font-size: var(--fontSizes-sm);
  }
}

:global .contrast :local .root article > p:first-child {
  color: var(--colors-foreground);
}
