/* Global styles */

:root {
  --colors-background: #ffffff;
  --colors-foreground: #000000;
  --colors-primary: #006aff;
  --colors-accent: #ff2a00;
  --colors-border: var(--colors-gray-5);

  --colors-red: #ff0000;
  --colors-green: #00ff00;
  --colors-blue: #0000ff;

  --ease: cubic-bezier(0.16, 1, 0.3, 1);

  scroll-behavior: smooth;
}

.contrast {
  --colors-border: var(--colors-foreground);
}

.contrast * {
  color: var(--colors-foreground);
}

.contrast img {
  opacity: 1 !important;
}

*:focus-visible {
  outline: 2px solid var(--colors-foreground);
  outline-offset: 2px;
  border-radius: 0;
}

body {
  color: var(--colors-foreground);
}

kbd {
  display: none;
  font-size: var(--fontSizes-xs);
  line-height: 100%;
  font-family: var(--font-geist-mono);
}

/* FIX: Checks if the user has an accurate pointer, but we need a way to check for keyboards */
@media (pointer: fine) {
  kbd {
    display: inline-flex;
  }
}

textarea {
  min-height: 8em;
}

.dark {
  --colors-background: #000000;
  --colors-foreground: #ffffff;
  --colors-accent: #ff5500;
  --colors-border: var(--colors-gray-10);
}

.contrast.dark,
.contrast .dark {
  --colors-border: var(--colors-foreground);
}
