/* Global styles */

:root {
  --colors-background: #ffffff;
  --colors-foreground: #000000;
  --colors-primary: #006aff;
  --ease: cubic-bezier(0.16, 1, 0.3, 1);

  scroll-behavior: smooth;
}

kbd {
  font-size: var(--fontSizes-sm);
  font-family: var(--font-geist-mono);
}

.dark {
  --colors-background: #000000;
  --colors-foreground: #ffffff;
}
