.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  height: 100dvh;
  pointer-events: none;
  font-size: var(--fontSizes-base);
  line-height: 100%;
  user-select: none;
}

.root > * {
  pointer-events: auto;
  user-select: auto;
}

.root > div:first-child,
.root > div:last-child {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.root h1 {
  font-weight: normal;
  font-size: var(--fontSizes-3xl);
  font-family: var(--font-heading);
}

.root a img {
  width: 3rem;
  height: 3rem;
}

:global .dark :local .root a img {
  filter: invert(1);
}

.root a + span {
  pointer-events: none;
  color: var(--colors-gray-10);
  font-size: var(--fontSizes-3xl);
  font-family: var(--font-heading);
  user-select: none;
}

:global .contrast :local .root a + span,
:global .dark :local .root a + span {
  color: var(--colors-gray-25);
}

:global .contrast.dark :local .root a + span {
  color: var(--colors-gray-50);
}
