.root {
  position: relative;
  background-color: var(--colors-background);
  width: 100%;
  height: 100%;
}

.root:first-of-type {
  /* background-color: rgba(0, 0, 0, 1); */
}

.root > header,
.root > main,
.root > nav {
  position: relative;
  margin: 0 auto;
  max-width: 48rem;
  overflow: visible;
}

.root > nav {
  display: flex;
  justify-content: space-between;
  border-color: transparent;
  padding: 1rem;
  color: var(--colors-gray-50);
}

.root > nav ul {
  list-style: none;
}

@media screen and (min-width: 48rem) {
  .root > nav {
    padding: 1rem 0;
  }
}

.root {
  position: relative;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.root section a:not([class]) {
  transition: 0.15s color var(--ease);
  color: var(--colors-primary);
}

.root section a:not([class]):active,
.root section a:not([class]):focus-visible,
.root section a:not([class]):hover {
  text-decoration: underline;
}
