.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.root p {
  font-size: var(--fontSizes-2xl);
  line-height: 140%;
  font-family: var(--fonts-heading);
  text-align: justify;
}

.root p:not(:first-child) {
  margin-top: 1em;
}
