.root {
  position: relative;
  margin: 0;
  border-bottom: 1px solid var(--colors-border);
  background-color: var(--colors-background);
  width: 100%;
  color: var(--colors-foreground);
}

.root article {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 48rem;
  overflow: visible;
}

@media screen and (min-width: 49rem) {
  .root article {
    border-right: 1px solid var(--colors-border);
  }

  .root article > aside {
    margin-left: -1px;
    border-left: 1px solid var(--colors-border);
    width: 3rem;
    overflow: hidden;
  }
}

.root article {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.root article > aside {
  border-top: 1px solid var(--colors-border);
}

.root article > section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-left: 1px solid var(--colors-border);
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

.root article > section > div:first-child {
  display: flex;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.root article > section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 2rem);
  pointer-events: none;
  user-select: none;
}

:global .dark :local .root article > section img {
  filter: invert(1);
}

.root article > section img:first-child {
  opacity: 0.05;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  max-height: calc(100% - 2rem);
}

:global .contrast :local .root article > section img:first-child,
:global .dark :local .root article > section img:first-child {
  opacity: 0.1 !important;
}

:global .contrast.dark :local .root article > section img:first-child {
  opacity: 0.25 !important;
}

.root article > section a:last-child img {
  height: 5rem;
}
