.root {
  display: flex;
  flex-direction: column;
}

.root article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.root > div {
  display: flex;
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 48rem;
}

.root[data-focus="true"] footer {
  display: none;
}

.root main {
  border-bottom: 1px solid var(--colors-border);
  border-left: 1px solid var(--colors-border);
  height: 100%;
}

@media screen and (min-width: 49rem) {
  .root main {
    border-right: 1px solid var(--colors-border);
  }
}

.root main > div > div {
  width: 100%;
}

.global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  width: 100%;
}

.global[data-focus="true"] {
  display: none;
}

@media screen and (min-width: 60rem) {
  .global[data-focus="true"] {
    display: flex;
    visibility: hidden;
  }
}

.global ul {
  display: flex;
  gap: 0.25rem;
  list-style: none;
}

.global a {
  display: flex;
  opacity: 0.25;
  transition: 0.3s opacity var(--ease);
  cursor: not-allowed;
  height: 1rem;
}

:global .dark :local .global a {
  opacity: 0.5;
  filter: invert(1);
}

.global a[data-active="true"],
:global .dark :local .global a[data-active="true"] {
  opacity: 1;
  pointer-events: none;
  user-select: none;
}

/* .global a:focus-visible,
.global a:hover {
  opacity: 0.5;
}

:global .dark :local .global a:focus-visible,
:global .dark :local .global a:hover {
  opacity: 0.75;
}

.global a:active,
:global .dark :local .global a:active {
  opacity: 1;
} */

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 48rem;
  color: var(--colors-gray-50);
}

.nav[data-focus="true"] {
  visibility: hidden;
}

@media screen and (min-width: 60rem) {
  .nav {
    padding: 1rem 0;
  }
}

.nav > div:first-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.nav li:last-of-type {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav p {
  font-size: var(--fontSizes-sm);
  line-height: 1;
}
