.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--colors-gray-5);
  width: 100%;
}

.root:last-of-type {
  border-bottom: 1px solid var(--colors-gray-5);
}

.root h3 {
  border-bottom: 1px solid var(--colors-gray-5);
  padding: 1.25rem 0.75rem;
  width: 100%;
  font-weight: 600;
  font-size: var(--fontSizes-2xl);
}

.root h4 {
  padding: 0.75rem 0.5rem;
  width: 100%;
  color: var(--colors-gray-50);
  font-weight: normal;
  font-size: var(--fontSizes-base);
}

@media screen and (min-width: 48rem) {
  .root {
    border: 1px solid var(--colors-gray-5);
    border-right: none;
  }

  .root:first-of-type {
    border-left: none;
  }
}
