.root {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.root h1 {
  font-weight: normal;
  font-size: var(--fontSizes-3xl);
  font-family: var(--font-heading);
}

.root a img {
  width: 3rem;
  height: 3rem;
}

:global(.dark) .root a img {
  filter: invert(1);
}

.root a + span {
  pointer-events: none;
  color: var(--colors-gray-10);
  font-size: var(--fontSizes-3xl);
  font-family: var(--font-heading);
  user-select: none;
}

:global(.contrast) .root a + span,
:global(.dark) .root a + span {
  color: var(--colors-gray-25);
}

:global(.contrast.dark) .root a + span {
  color: var(--colors-gray-50);
}
