.root {
	display: flex;
	flex-direction: column;
	font-size: var(--fontSizes-base);
	gap: 1rem;
	height: 100dvh;
	justify-content: space-between;
	line-height: 100%;
	padding: 1rem;
	pointer-events: none;
	user-select: none;
}

.root > * {
	pointer-events: auto;
	user-select: auto;
}

.root > div:last-child {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	position: relative;
	z-index: 1;
}
